.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-class {
  background-color: aqua;
  width: 100%;
  height: 50px;
}

.actions {
  display: flex;
  justify-content: space-around;
  width: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter {
  padding-top: 10px;
}

button {
  border-radius: 10px;
  border: none;
  padding: 20px;
  font-size: large;
}

.increase-button {
  background-color: green;
  color: white;
}

.decrease-button {
  background-color: red;
  color: white;
}

.reset {
  width: 300px;
}